@model IEnumerable<Coupon>

@{
    ViewData["Title"] = "Coupons";
}

<style>
    .coupon {
        border-radius: 12px;
        box-shadow: 5px 8px 10px #d6d5d533;
    }
</style>

<div class="container py-4">
    <h1 class="text-center mb-4">@ViewData["Title"]</h1>


    <div class="row justify-content-center">
        <div class="col-md-6 mb-4">
            <a asp-action="Create" asp-controller="Coupon" class="text-decoration-none">
                <div class="card shadow coupon" style="height: 100%;">
                    <div class="card-body text-center d-flex align-items-center justify-content-center">
                        <div>
                            <i class="fas fa-plus fa-2x"></i>
                            <p class="mt-2">Create new Coupon</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        @foreach (var item in Model)
        {
            @if (item.ExpirationDate.Date > DateTime.UtcNow.Date)
            {
                <div class="col-md-6 mb-4">
                    <a asp-action="Details" asp-controller="Coupon" asp-route-id="@item.Id" class="text-decoration-none">
                        <div class="card coupon">
                            <div class="row no-gutters">
                                <div class="col-md-4 border-right">
                                    <div class="d-flex flex-column align-items-center">
                                        <div class="card-body text-center">
                                            @if (item.Packages.Any())
                                            {
                                                @foreach (var package in item.Packages)
                                                {
                                                    <span class="d-block"><strong>@package.Name</strong></span>
                                                }
                                            }
                                            else
                                            {
                                                <span class="d-block"><strong>No Packages</strong></span>
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <div class="d-flex flex-row justify-content-end off">
                                            <h3> -@item.DiscountAmount.ToString("F3") DT</h3><span>OFF</span>
                                        </div>
                                        <div class="d-flex flex-row justify-content-between off px-3 p-2">
                                            <span>Promo code:</span><span class="border border-success px-3 rounded code">@item.Code</span>
                                        </div>
                                        <div class="d-flex justify-content-end mt-3">
                                            <form asp-action="Edit" asp-route-id="@item.Id" method="get">
                                                <button type="submit" class="btn btn-primary">Edit</button>
                                            </form>
                                            <form asp-action="Delete" asp-route-id="@item.Id" method="get">
                                                <button type="submit" class="btn btn-danger">Delete</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer text-muted text-center small">
                                Expires on: @item.ExpirationDate.ToString("MM/dd/yyyy")
                            </div>
                        </div>
                    </a>
                </div>
            }
        }
    </div>
</div>
